version: 2
updates:
  - package-ecosystem: terraform
    directories:
      - infrastructure/**
    schedule:
      interval: monthly
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
