name: Terraform Apply
on:
  push:
    branches:
      - main
    paths:
      - infrastructure/**

env:
  TF_IN_AUTOMATION: true

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  select-stack:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
      change-count: ${{ steps.changed-files.outputs.all_changed_files_count }}
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: true
          dir_names_exclude_current_dir: true
          dir_names_max_depth: 2
          files: infrastructure/**
          files_ignore: infrastructure/backend/**
          matrix: true

  apply:
    needs: select-stack
    if: needs.select-stack.outputs.change-count > 0
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack: ${{ fromJSON(needs.select-stack.outputs.matrix) }}
      fail-fast: false
    name: ${{ matrix.stack }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: seanchristians/lab/actions/terraform
        with:
          tf-backend-aws-bucket: ${{ vars.TF_BACKEND_AWS_BUCKET }}
          tf-backend-aws-region: ${{ vars.TF_BACKEND_AWS_REGION }}
          tf-backend-aws-role: ${{ vars.TF_BACKEND_AWS_ROLE }}
          sops-age-key: ${{ secrets.SOPS_AGE_KEY }}
          stack: ${{ matrix.stack }}
          mode: apply
