name: Authenticate Terraform providers for the Network stack
on:
  workflow_call:
    inputs:
      AWS_ROLE_ARN:
        description: AWS IAM role for GitHub actions to assume
        type: string
      TAILSCALE_AUDIENCE:
        description: Tailscale OIDC Federated Identity Audience
        type: string
      TAILSCALE_CLIENT_ID:
        description: Tailscale OIDC Federated Identity Client ID
        type: string

permissions: {}

jobs:
  aws:
    name: Authenticate with AWS
    if: inputs.AWS_ROLE_ARN != null
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Authenticate with AWS
        if: inputs.AWS_ROLE_ARN != null
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ca-central-1
          role-to-assume: ${{ inputs.AWS_ROLE_ARN }}

  tailscale:
    name: Authenticate with Tailscale
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - name: Authenticate with Tailscale
        uses: seanchristians/lab/actions/tailscale-login@main
        with:
          client-id: ${{ inputs.TAILSCALE_CLIENT_ID }}
          audience: ${{ inputs.TAILSCALE_AUDIENCE }}
