name: Configure Branch Workspace
on:
  workflow_call:
    inputs:
      STACK:
        description: Location of Terraform code
        default: "."
        type: string
      WORKSPACE_REF:
        description: Terraform workspace name
        required: true
        type: string

permissions: {}

defaults:
  run:
    shell: bash
    working-directory: ${{ inputs.STACK }}

env:
  WORKSPACE_REF: ${{ inputs.WORKSPACE_REF }}

jobs:
  terraform-select-workspace:
    name: Select Terraform Workspace
    runs-on: ubuntu-latest
    steps:
      - name: Check for Existing Workspace
        id: select-workspace
        run: |
          WORKSPACE_EXISTS=true
          terraform workspace select "$WORKSPACE_REF" || WORKSPACE_EXISTS=false
          echo "workspace-exists=$WORKSPACE_EXISTS" >> $GITHUB_OUTPUT

      - name: Create New Workspace
        if: steps.select-workspace.outputs.workspace-exists == false
        run: |
          terraform state pull
          terraform workspace new -state=terraform.tfstate "$WORKSPACE_REF"
