name: Terraform Apply
on:
  push:
    branches:
      - main
    paths:
      - infrastructure/**

env:
  TF_IN_AUTOMATION: true

permissions: {}

defaults:
  run:
    shell: bash

jobs:
  select-stack:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    outputs:
      matrix: ${{ steps.changed-files.outputs.all_changed_files }}
      change-count: ${{ steps.changed-files.outputs.all_changed_files_count }}
    steps:
      - uses: actions/checkout@v6.0.2
      - id: changed-files
        uses: tj-actions/changed-files@v47
        with:
          dir_names: true
          dir_names_exclude_current_dir: true
          dir_names_max_depth: 2
          files: infrastructure/**
          files_ignore: infrastructure/backend/**
          matrix: true

  apply:
    needs: select-stack
    if: needs.select-stack.outputs.change-count > 0
    runs-on: ubuntu-latest
    strategy:
      matrix:
        stack: ${{ fromJSON(needs.select-stack.outputs.matrix) }}
      fail-fast: false
    name: ${{ matrix.stack }}
    defaults:
      run:
        working-directory: ${{ matrix.stack }}
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v6.0.2

      - name: Install Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Authenticate with AWS
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-region: ${{ vars.TF_BACKEND_AWS_REGION }}
          role-to-assume: ${{ vars.TF_BACKEND_AWS_ROLE }}

      - name: Stack context
        if: ${{ hashFiles(format('{0}/action.yaml', matrix.stack)) != '' }}
        uses: ./actions/stack-context
        with:
          stack: ${{ matrix.stack }}
          mode: apply

      - name: Terraform Init
        env:
          TF_BACKEND_AWS_BUCKET: ${{ vars.TF_BACKEND_AWS_BUCKET }}
          TF_BACKEND_AWS_REGION: ${{ vars.TF_BACKEND_AWS_REGION }}
          STACK: ${{ matrix.stack }}
        run: |
          cat > backend.tf << HCP
          terraform {
            backend "s3" {
              bucket       = "${TF_BACKEND_AWS_BUCKET}"
              key          = "$STACK/terraform.tfstate"
              region       = "${TF_BACKEND_AWS_REGION}"
              use_lockfile = true
            }
          }
          HCP
          terraform init

      - name: Terraform Apply
        env:
          SOPS_AGE_KEY: ${{ secrets.SOPS_AGE_KEY }}
        run: |
          terraform apply -input=false -auto-approve
