name: Terraform Stack Network
on:
  pull_request:
    paths:
      - infrastructure/network/**
  push:
    branches:
      - main
    paths:
      - infrastructure/network/**
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: read

env:
  PORKBUN_API_KEY: ${{ secrets.PORKBUN_API_KEY }}
  PORKBUN_SECRET_API_KEY: ${{ secrets.PORKBUN_SECRET_API_KEY }}

jobs:
  terraform:
    name: ${{ github.ref_name == github.event.repository.default_branch && 'apply' || 'plan' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Tailscale setup
        env:
          CLIENT_ID: ${{ vars.TAILSCALE_CLIENT_ID }}
          AUDIENCE: ${{ format('api.tailscale.com/{0}', vars.TAILSCALE_CLIENT_ID) }}
        run: |
          ACCESS_TOKEN=$(
            curl -sSL --retry 5 --retry-all-errors -G \
            -H "Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN" \
            --data-urlencode "audience=$AUDIENCE" \
            "$ACTIONS_ID_TOKEN_REQUEST_URL" | jq -r '.value'
          )

          echo "TAILSCALE_OAUTH_CLIENT_ID=$CLIENT_ID" >> $GITHUB_ENV
          echo "TAILSCALE_IDENTITY_TOKEN=$ACCESS_TOKEN" >> $GITHUB_ENV

      - uses: seanchristians/lab/actions/terraform@main
        with:
          stack: infrastructure/network
