name: ACME Terraform Stack
on:
  pull_request:
    paths:
      - infrastructure/**
  push:
    branches:
      - main
    paths:
      - infrastructure/**
  workflow_dispatch:
  schedule:
    - cron: "0 0 * * *"

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: seanchristians/lab/actions/terraform@main
        with:
          sops-age-key: ${{ secrets.SOPS_AGE_KEY }}
          stack: infrastructure/acme
