name: Network Terraform Stack
on:
  pull_request:
    paths:
      - infrastructure/network/**
  push:
    branches:
      - main
    paths:
      - infrastructure/network/**
  workflow_dispatch:

defaults:
  run:
    shell: bash

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Authenticate with Tailscale
        uses: seanchristians/lab/actions/tailscale-login@main
        with:
          client-id: TA1163u8TV11CNTRL-kTzGLf2dGf11CNTRL
          audience: api.tailscale.com/TA1163u8TV11CNTRL-kTzGLf2dGf11CNTRL

      - uses: seanchristians/lab/actions/terraform@main
        with:
          sops-age-key: ${{ secrets.SOPS_AGE_KEY }}
          stack: infrastructure/network
