[defaults]
interpreter_python   = auto_silent
inventory            = inventory.yaml
deprecation_warnings = False

[ssh_connection]
pipelining = True

[inventory]
enable_plugins = cloud.terraform.terraform_provider
