[defaults]
interpreter_python = auto_silent
; playbook_dir = ../../ansible-playbooks
inventory = inventory.yaml

[ssh_connection]
pipelining = True

[inventory]
enable_plugins = ['host_list', 'script', 'auto', 'yaml', 'ini', 'toml', 'cloud.terraform.terraform_provider']
